.hero-container {
    /* background: url('/src/components/images/relax.png');
    height:729.83px;
    width: 900px;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
}

.hero-image {
  display: n ;
}
  
.hero-text > h1 {
    color: #091e42;
    height: 174px;
    width: 466px;
    left: 156px;
    font-size: 48px;
    font-family: 'Circular Std', sans-serif;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}
    
  .hero-text > h3 {
    color: #344563;
    font-size: 16px;
    font-family: 'Circular Std', sans-serif;
    width: 345px;
    height: 48px;
    margin-top: 25px;
    margin-right: 125px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 32px;
    }
  
    .hero-container  {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
      position: relative;
      right: 40%;
      top: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 32px;
    }
  
    .hero-container > h3 {
      font-size: 14px;
    
    }
  }